# This is the .htaccess file in our document root.
    Options +FollowSymLinks -Indexes -MultiViews
    
    <IfModule mod_rewrite.c>
        
        RewriteEngine on
        
        # Simple URL redirect:
        RewriteRule ^test.html$ http://carpool.sytes.net:8000/test/ [P]
        
        # More complicated (the user sees only "benchmark.html" in their address bar)
        RewriteRule ^benchmark.html$ http://carpool.sytes.net:8000/node?action=benchmark [P]
        
        # Redirect a whole subdirectory:
        RewriteRule ^node/(.+) http://carpool.sytes.net:8000/$1 [P]
        
    </IfModule>
